{% extends "base.html" %}
{% block title %}Founder{% endblock %}

{% block content %}

<!--There is where the body content will go-->
<div id="founder-content" class="container-fluid">
    <div class="container text-center">
        <p class="h1">Fathers of the Internet</p>
        <br/>
        <p class="lead text-justify">
            Vinton Cerf and Bob Kahn (the duo said by many to be the Fathers of the Internet) publish "A Protocol for
            Packet Network Interconnection," which details the design of TCP. TCP/IP became the standard Internet
            communications protocol that allow digital computer to communicate over long distances. The Internet is a
            packet-switched network, in which information is broken down into small packets, sent individually over many
            different routes at the same time, and then reassembled at the receiving end. TCP is the component that
            collects and reassembles the packets of data, while IP is responsible for making sure the packets are sent
            to the right destination. TCP/IP was developed in the 1970s and adopted as the protocol standard for
            ARPANET. During the development of TCP, Cerf and Kahn used the concepts of CYCLADES, a French packet
            switching network, designed and directed in 1973 by Louis Pouzin. It was developed to explore alternatives
            to the ARPANET.
        </p>
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    Cerf worked at the United States Defense Advanced Research Projects Agency <b>(DARPA)</b> from 1973
                    to 1982 and funded various groups to develop TCP/IP, packet radio (PRNET), packet satellite (SATNET)
                    and packet security technology. These efforts were rooted in the needs of the military. In the late
                    1980s, Cerf moved to MCI where he helped develop the first commercial email system (MCI Mail) to be
                    connected to the Internet.
                </p>
            </div>

            <div class="text-center col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive img-thumbnail center-block" alt="founder_1"
                     src="{{ url_for('static', filename='images/founder_1.png') }}"/>
                <br/>
                <div class="caption"><b><i>Vinton Cerf</i></b></div>
                <br/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <p class="text-justify lead">
                    He first worked at Bolt Beranek and Newman Inc., then in 1972 joined the Information Processing
                    Techniques Office (IPTO) within <b>DARPA</b>.In the fall of 1972, he demonstrated the <b>ARPANET</b>
                    by connecting 20 different computers at the International Computer Communication Conference, "the
                    watershed event that made people suddenly realize that packet switching was a real technology." He
                    then helped develop the TCP/IP protocols for connecting diverse computer networks.
                </p>
            </div>

            <div class="text-center col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive img-thumbnail center-block" alt="founder_2"
                     src="{{ url_for('static', filename='images/founder_2.png') }}"/>
                <br/>
                <div class="caption"><b><i>Bob Kahn</i></b></div>
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}